@import "tailwindcss";

/* Hide scrollbar but allow scrolling */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

input[type="range"] {
  appearance: none;
  height: 24px;
  width: 100%;
  background: transparent;
}

/* Track */
input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  background: transparent;
}

/* Thumb */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  border: 2px solid #6366f1;
  cursor: pointer;
  margin-top: -5px; /* THIS centers the thumb */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}

.skeleton {
  background: linear-gradient(
    90deg,
    #f1f1f1 25%,
    #e6e6e6 37%,
    #f1f1f1 63%
  );
  background-size: 1200px 100%;
  animation: shimmer 1.6s infinite linear;
}